* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0 0;
  background-color: black;
}

/* FOR DISKTOP USE  */
@media (min-width: 769px) /* big Screen Rules*/ {
  .header {
    background-color: #2d3540;
    position: relative;
    height: 100vh;
  }
  .mycontainer {
    width: 80%;
    margin: 0 auto;
  }
  .myImg {
    width: 50%;
    height: 100vh;
    position: absolute;
    right: 0;
    opacity: 0.4;
  }
  .myImgmobile {
    display: none;
  }
  .hello-div {
    width: 80%;
    position: relative;
    top: 70px;
    left: 100px;
    z-index: 1;
  }
  .hello-div .first {
    font-size: 60px;
    width: 50%;
    direction: rtl;
  }
  .hello-div .second {
    font-size: 50px;
    word-spacing: 0px;
    width: 50%;
    direction: rtl;
  }
  .hello-div .third {
    width: 400px;
    text-align: justify;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.561);
    width: 50%;
    direction: rtl;
  }

  h1 {
    font-family: serif;
    font-weight: bolder;
  }

  .navBar {
    color: white;
    width: 80%;
    display: flex;
  }
  .logo {
    text-align: center;
    width: 30%;
  }

  .email-me {
    background-color: #3479d9;
    display: inline-block;
    padding: 10px 20px;
  }
  .email-me i {
    color: white;
    padding: 0 6px;
  }
  .email-me a {
    text-align: center;
    text-decoration: none;
    color: white;
  }
  .download-cv {
    display: inline-block;

    margin: 0 15px;
  }
  .download-cv i {
    color: white;
    padding: 0;
  }
  .download-cv a {
    color: white;
    font-weight: bold;
    padding: 0 0 0 5px;
  }
  /* Start Icons Section After Header */

  .icon img {
    width: 100px;
    height: 100px;
    padding: 15px;
  }
  .imgcontainer {
    display: flex;
    justify-content: space-evenly;
  }
  /* End Icons Section After Header */
  /* ------------------------------------ */
  /* Start About */
  .about {
    height: 100%;
  }
  .aboutimg {
    width: 100%;
  }
  .aboutpara {
    line-height: 150%;
    text-align: justify;
    font-size: 20px;
  }
  /* End About */
  /* ------------------------------------ */

  /* Start Skills Section  */
  .myskills {
    background-color: rgb(108, 212, 221);
    height: 100vh;
  }
  .myskills i {
    margin: 23px 0px 0px 30px;
  }
  .one a {
    color: rgb(76, 76, 255);
  }
  .two a {
    margin-left: 85.5px;
    color: rgb(255, 255, 167);
  }
  .three a {
    margin-left: 171px;
    color: rgb(13, 255, 0);
  }
  .four a {
    margin-left: 256.5px;
    color: rgb(0, 255, 251);
  }
  .five a {
    margin-left: 342px;
    color: rgb(0, 110, 255);
  }
  .six a {
    margin-left: 427.5px;
    color: rgb(255, 0, 153);
  }
  .seven a {
    margin-left: 513px;
    color: rgb(255, 0, 43);
  }
  .eight a {
    margin-left: 598.5px;
    color: rgb(58, 143, 64);
  }
  .nine a {
    margin-left: 684px;
    color: yellow;
  }
  /* End Skills Section  */
  /* ------------------------------------ */

  /* Start Contact me Section */
  .contactme ul {
    list-style: none;
    font-size: 25px;
    margin-left: 30px;
  }
  .contactme i {
    margin-top: 20px;
    text-align: start;
  }
  .contactme a {
    text-decoration: none;
    color: black;
    margin-left: 5px;
  }
  .contactme a:hover {
    color: blue;
  }
  .contactme img {
    width: 100%;
    align-items: center;
  }
  /* End Contact me Section */
  /* ----------------------------- */
  /* Start Footer section */
  .myfooter {
    background-color: #c0cadb;
  }
  .goingup {
    font-size: 50px;
    color: black;
    margin-left: 50%;
    position: relative;
    top: -26px;
  }

  /* ----------------------------- */
  /* End Footer section */
}
/* --------------------------------------------------------------------------------------------- */
